/* Nav bar styles */
nav {
    position:relative;
    top: 0;
    width: 100%;
    z-index: 1;
    /* Add background color to nav for better visibility */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 30px;
}

nav li a {
    display: block;
    color: #918983;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #a37cf0;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    transform: scale(1.3);
}

nav .active {
    font-weight: bolder;
    color: #a37cf0;
}

nav #name {
    margin-left: auto;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}